In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("newnews.csv")
data

,Date,Headline,Tire,review
0,41:25.5,England won 2019 world cup.,1,TRUE
1,48:35.1,Atletico Madrid won the spanish league this se...,1,TRUE
2,48:36.1,Manchester United won the Europa league 2021,5,Fake
3,48:37.1,Corona virus is irradicated,5,Fake
4,48:38.1,Lockdown to extend beyond June 1st,3,Not sure
...,...,...,...,...
327,53:52.1,claims report,2,TRUE
328,53:53.1,warns against rush to reopen,1,TRUE
329,53:54.1,117 deaths; positivity rate falls to 1.53%,4,Fake
330,53:55.1,diesel prices rise after day�s gap.,4,Fake
331,53:56.1,Black Fungus Now Epidemic Disease in Delhi,4,Fake

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      332 non-null    object
 1   Headline  332 non-null    object
 2   Tire      332 non-null    int64
 3   review    332 non-null    object
dtypes: int64(1), object(3)
memory usage: 10.5+ KB

In [4]:
data.drop_duplicates()

,Date,Headline,Tire,review
0,41:25.5,England won 2019 world cup.,1,TRUE
1,48:35.1,Atletico Madrid won the spanish league this se...,1,TRUE
2,48:36.1,Manchester United won the Europa league 2021,5,Fake
3,48:37.1,Corona virus is irradicated,5,Fake
4,48:38.1,Lockdown to extend beyond June 1st,3,Not sure
...,...,...,...,...
327,53:52.1,claims report,2,TRUE
328,53:53.1,warns against rush to reopen,1,TRUE
329,53:54.1,117 deaths; positivity rate falls to 1.53%,4,Fake
330,53:55.1,diesel prices rise after day�s gap.,4,Fake
331,53:56.1,Black Fungus Now Epidemic Disease in Delhi,4,Fake

In [5]:
data.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
327    False
328    False
329    False
330    False
331    False
Length: 332, dtype: bool

In [6]:
data.columns

Index(['Date', 'Headline', 'Tire', 'review'], dtype='object')

In [7]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data["Headline"]=le.fit_transform(data["Headline"])
data.tail()

        Date  Headline  Tire review
327  53:52.1        25     2   TRUE
328  53:53.1        54     1   TRUE
329  53:54.1         0     4   Fake
330  53:55.1        28     4   Fake
331  53:56.1         7     4   Fake

In [8]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data["review"]=le.fit_transform(data["review"])
data.head()

      Date  Headline  Tire  review
0  41:25.5       132     1       2
1  48:35.1        92     1       2
2  48:36.1       208     5       0
3  48:37.1       113     5       0
4  48:38.1       203     3       1

In [9]:
data['Tire']

0      1
1      1
2      5
3      5
4      3
      ..
327    2
328    1
329    4
330    4
331    4
Name: Tire, Length: 332, dtype: int64

In [10]:
data['times'] = pd.to_datetime(data.Date,format='%S:%M.%I').astype(np.int64)
data['times']

0     -2208969259000000000
1     -2208983052000000000
2     -2208982992000000000
3     -2208982932000000000
4     -2208982872000000000
              ...
327   -2208982027000000000
328   -2208981967000000000
329   -2208981907000000000
330   -2208981847000000000
331   -2208981787000000000
Name: times, Length: 332, dtype: int64

In [11]:
data.at[2,'Date']

'48:36.1'

In [12]:
type(data.at[0,'times'])

numpy.int64

In [13]:
data=data[['Headline', 'Tire','times','review']]
data

     Headline  Tire                times  review
0         132     1 -2208969259000000000       2
1          92     1 -2208983052000000000       2
2         208     5 -2208982992000000000       0
3         113     5 -2208982932000000000       0
4         203     3 -2208982872000000000       1
..        ...   ...                  ...     ...
327        25     2 -2208982027000000000       2
328        54     1 -2208981967000000000       2
329         0     4 -2208981907000000000       0
330        28     4 -2208981847000000000       0
331         7     4 -2208981787000000000       0

[332 rows x 4 columns]

In [14]:
data.describe()

         Headline        Tire         times      review
count  332.000000  332.000000  3.320000e+02  332.000000
mean   163.144578    2.951807 -2.208983e+18    1.042169
std     93.694159    1.438811  1.302277e+12    0.898824
min      0.000000    1.000000 -2.208985e+18    0.000000
25%     81.750000    2.000000 -2.208984e+18    0.000000
50%    164.500000    3.000000 -2.208983e+18    1.000000
75%    247.250000    4.000000 -2.208982e+18    2.000000
max    320.000000    5.000000 -2.208969e+18    2.000000

In [15]:
x=data.iloc[:,0:-1]
x

     Headline  Tire                times
0         132     1 -2208969259000000000
1          92     1 -2208983052000000000
2         208     5 -2208982992000000000
3         113     5 -2208982932000000000
4         203     3 -2208982872000000000
..        ...   ...                  ...
327        25     2 -2208982027000000000
328        54     1 -2208981967000000000
329         0     4 -2208981907000000000
330        28     4 -2208981847000000000
331         7     4 -2208981787000000000

[332 rows x 3 columns]

In [16]:
y=data.iloc[:,-1]
y

0      2
1      2
2      0
3      0
4      1
      ..
327    2
328    2
329    0
330    0
331    0
Name: review, Length: 332, dtype: int32

In [17]:
from sklearn.model_selection import train_test_split
x_test,x_train,y_test,y_train = train_test_split(x,y, test_size = 0.2 , random_state = 2)

In [18]:
len(x_test)

265

In [19]:
from sklearn.preprocessing import StandardScaler
sd = StandardScaler()

In [20]:
x_test = sd.fit_transform(x_test)
x_train = sd.fit_transform(x_train)

# linear regression

In [45]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)
y_pred

array([ 0.91313387,  0.39574091,  1.88740591,  0.41071701, -0.07821594,
        1.90076795,  1.89283801, -0.10647498,  1.42732761,  0.41390805,
        1.39375721, -0.10146703,  1.89034396, -0.07776451, -0.09354707,
        0.41252489, -0.07663696,  0.90422594,  1.89677316,  1.89760549,
        1.88697422, -0.10263651,  1.9251067 ,  1.90327676,  0.91614058,
       -0.09619761, -0.08307003,  1.40890871,  1.88387958,  0.41804079,
        0.88524228, -0.12405028,  0.87840613, -0.08215899,  1.90815767,
        0.91116037, -0.09632561,  0.41021422,  1.40160683,  0.41421719,
        0.40375624,  1.40978241,  0.92601788, -0.08145494,  0.89365919,
       -0.11206443,  1.39903085,  0.38018134,  1.40925988,  0.41688015,
       -0.0881379 ,  1.90490069,  1.9288057 ,  1.39375994,  0.40608393,
        1.38344392,  0.92488215,  0.41645731,  0.88482217,  1.92955197,
        0.38614868, -0.12275862,  1.89330947, -0.11575883,  1.9185335 ,
        0.92876323,  0.41594841,  1.40998367,  1.38477235,  0.91892027,
        1.38770495,  1.91014819,  0.41198317,  0.92879455,  1.91948254,
        1.38048   , -0.09536652,  1.92894188,  1.40572048,  0.42049949,
       -0.09521877,  1.89642659,  1.40384122,  0.41997997,  1.41343034,
       -0.11254446,  0.40719895,  1.38237788,  1.92324991,  0.8891115 ,
        0.42258426,  1.3979161 ,  1.38599591,  1.38354333,  0.88792443,
        1.38323081, -0.10795905,  0.41144051,  1.89972551,  0.88383419,
       -0.10655125,  0.90034214,  0.89684054,  1.88381647,  0.37467634,
        1.91034946,  0.39821964,  0.39047178,  1.38201882,  1.89197061,
        0.90092157,  1.92128798,  1.92892486,  0.88539003, -0.08519645,
        1.40076331,  0.38733275, -0.09680865,  1.90092416,  0.89999012,
        1.39754433,  1.88877995,  0.88892698,  0.92418695,  0.88525658,
        0.40553337,  1.89802776,  0.40567716,  1.40468144,  1.38813663,
        0.88669503,  1.90150632,  0.40143804, -0.10185008, -0.12255708,
        0.39642333, -0.10843663,  0.88756996,  1.91949015, -0.12713063,
        1.91313215,  0.89082872,  0.92235264,  1.39443266,  1.92883975,
        0.87766465,  0.91520124,  1.39391831,  0.88204277,  0.92670217,
        1.91941144,  1.41702533,  1.92890784,  1.88279831,  0.38588488,
        1.38508487, -0.099761  ,  1.40772135,  0.92702015, -0.1165763 ,
       -0.07712856,  1.88889638,  1.90138989,  1.38308306,  0.88553956,
        1.92887379,  1.4003541 , -0.10466926,  0.90071391,  0.39466754,
        1.90864093,  1.92878868,  1.92935955, -0.08204256, -0.09996226,
        0.38542949,  0.92120874,  1.91761418,  0.92951561,  0.39367956,
        0.93028502,  1.41474542, -0.11301779,  0.92828292, -0.08956846,
        0.40507525,  1.91841707,  0.41689388,  0.40727617,  0.39582903,
        0.41519359, -0.12874571, -0.1104755 , -0.10371562,  1.42318207,
        0.88688294,  1.8905598 ,  0.88964805,  1.41315309, -0.08525665,
        0.38359556,  1.39731937,  0.37588288,  1.92309915,  1.40581321,
        1.90953988,  0.92645228,  1.412159  ,  1.92885677, -0.08252286,
        0.91905099,  1.39974674,  1.89828678,  1.40003952,  1.40007112,
        1.92138127,  0.92621942, -0.09698132,  1.39701569,  0.92665383,
        0.9273068 ,  1.40704402,  1.88816891,  0.42070103,  1.4078296 ,
       -0.09394385,  1.38283044, -0.08446749,  1.40684163,  0.9276561 ,
        1.89288118,  0.39195895,  1.91525528,  1.92686954, -0.11665567,
       -0.07929391, -0.07686165,  1.41988343,  0.92191551, -0.09090357,
        1.91661229,  1.92889081,  1.4187511 ,  0.90022571,  1.40536574,
        0.42604427, -0.07601531,  0.3814335 ,  1.38952412,  0.41748178,
        0.42238271, -0.12678406,  1.38219449,  1.89547606, -0.08446176,
        1.38700363,  1.41295155,  0.41844756,  0.90379426,  0.90601924,
        1.88946697,  1.92469965,  1.40453613,  1.90062809, -0.07566328])

In [22]:
testing_score = lr.score(x_test,y_test)
testing_score

0.6820273523271847

In [23]:
from sklearn.metrics import accuracy_score
sc1=accuracy_score(y_test, np.round(y_pred)) 
sc1

0.7320754716981132

In [24]:
from sklearn.metrics import mean_squared_error
mse1 = mean_squared_error(y_test,y_pred)
print("MSC: ",mse1)

MSC:  0.25666924180820516

# logistic regression

In [25]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train,y_train)
y_pred1 = model.predict(x_test)
y_pred1

array([0, 0, 2, 0, 0, 2, 2, 0, 2, 0, 2, 0, 2, 0, 0, 0, 0, 0, 2, 2, 2, 0,
       2, 2, 0, 0, 0, 2, 2, 0, 1, 0, 1, 0, 2, 0, 0, 0, 2, 0, 0, 2, 0, 0,
       0, 0, 2, 0, 2, 0, 0, 2, 2, 2, 0, 2, 0, 0, 1, 2, 0, 0, 2, 0, 2, 0,
       0, 2, 2, 0, 2, 2, 0, 0, 2, 2, 0, 2, 2, 0, 0, 2, 2, 0, 2, 0, 0, 2,
       2, 1, 0, 2, 2, 2, 1, 2, 0, 0, 2, 1, 0, 0, 0, 2, 0, 2, 0, 0, 2, 2,
       0, 2, 2, 1, 0, 2, 0, 0, 2, 0, 2, 2, 1, 0, 1, 0, 2, 0, 2, 2, 0, 2,
       0, 0, 0, 0, 0, 1, 2, 0, 2, 0, 0, 2, 2, 1, 0, 2, 1, 0, 2, 2, 2, 2,
       0, 2, 0, 2, 0, 0, 0, 2, 2, 2, 0, 2, 2, 0, 0, 0, 2, 2, 2, 0, 0, 0,
       0, 2, 0, 0, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, 1, 2, 1,
       2, 0, 0, 2, 0, 2, 2, 2, 0, 2, 2, 0, 0, 2, 2, 2, 2, 2, 0, 0, 2, 0,
       0, 2, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 2, 0, 0, 0, 2, 0, 0, 2, 2,
       2, 0, 2, 0, 0, 0, 2, 0, 0, 0, 2, 2, 0, 2, 2, 0, 0, 0, 2, 2, 2, 2,
       0])

In [26]:
from sklearn.metrics import accuracy_score
sc2=accuracy_score(y_test, y_pred1) 
sc2

0.8

In [27]:
from sklearn.metrics import mean_squared_error
mse2 = mean_squared_error(y_test,y_pred1)
mse2

0.3471698113207547

# KNeighbors

In [28]:
from sklearn.neighbors import KNeighborsClassifier  
classifier= KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2 )  
classifier.fit(x_train, y_train)
y_pred2= classifier.predict(x_test)
y_pred2

array([0, 0, 2, 0, 0, 2, 2, 0, 1, 0, 1, 0, 2, 0, 0, 0, 0, 0, 2, 2, 2, 0,
       2, 2, 0, 0, 0, 2, 2, 0, 1, 0, 1, 0, 2, 0, 0, 0, 2, 0, 0, 1, 1, 0,
       0, 0, 2, 0, 2, 0, 0, 2, 2, 1, 0, 1, 1, 0, 1, 2, 0, 0, 2, 0, 2, 0,
       0, 1, 2, 0, 2, 2, 0, 0, 2, 1, 0, 2, 1, 0, 0, 2, 2, 0, 2, 0, 0, 2,
       2, 1, 0, 1, 2, 1, 0, 2, 0, 0, 2, 1, 0, 0, 0, 2, 0, 2, 0, 0, 1, 2,
       0, 2, 2, 1, 0, 1, 0, 0, 2, 0, 1, 2, 1, 1, 1, 0, 2, 0, 1, 1, 2, 2,
       0, 0, 0, 0, 0, 1, 2, 0, 2, 0, 0, 1, 2, 2, 0, 2, 1, 0, 2, 2, 2, 2,
       0, 1, 0, 2, 0, 0, 0, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 2, 2, 0, 0, 0,
       1, 2, 0, 0, 0, 2, 0, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, 1, 2, 1,
       1, 0, 0, 2, 0, 2, 1, 2, 0, 2, 2, 0, 0, 2, 2, 1, 1, 2, 1, 0, 2, 1,
       0, 1, 2, 0, 1, 0, 2, 0, 1, 0, 2, 0, 2, 2, 0, 0, 0, 2, 0, 0, 2, 2,
       2, 0, 1, 0, 0, 0, 2, 0, 0, 0, 2, 2, 0, 2, 1, 0, 0, 0, 2, 2, 2, 2,
       0])

In [29]:
from sklearn.metrics import accuracy_score
sc3=accuracy_score(y_test, y_pred2) 
sc3

0.7358490566037735

In [30]:
from sklearn.metrics import mean_squared_error
mse4 = mean_squared_error(y_test,y_pred2)
mse4

0.41132075471698115

# Naive bayes-Gaussian

In [31]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(x_train,y_train)
y_pred3 = nb.predict(x_test)
y_pred3

array([0, 0, 2, 0, 0, 2, 2, 0, 2, 0, 2, 0, 2, 0, 0, 0, 0, 1, 2, 2, 2, 0,
       2, 2, 0, 0, 0, 2, 2, 0, 1, 0, 1, 0, 2, 0, 0, 0, 2, 0, 0, 2, 0, 0,
       1, 0, 2, 0, 2, 0, 0, 2, 2, 2, 0, 2, 0, 0, 1, 2, 0, 0, 2, 0, 2, 1,
       0, 2, 2, 0, 2, 2, 0, 1, 2, 2, 0, 2, 2, 0, 0, 2, 2, 0, 2, 0, 0, 2,
       2, 1, 0, 2, 2, 2, 1, 2, 0, 0, 2, 1, 0, 1, 1, 2, 1, 2, 0, 0, 2, 2,
       1, 2, 2, 1, 0, 2, 0, 0, 2, 1, 2, 2, 1, 1, 1, 0, 2, 0, 2, 2, 1, 2,
       0, 0, 0, 0, 0, 1, 2, 0, 2, 1, 0, 2, 2, 1, 0, 2, 1, 1, 2, 2, 2, 2,
       0, 2, 0, 2, 1, 0, 0, 2, 2, 2, 1, 2, 2, 0, 0, 0, 2, 2, 2, 0, 0, 0,
       0, 2, 1, 0, 1, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, 1, 2, 1,
       2, 0, 0, 2, 0, 2, 2, 2, 1, 2, 2, 0, 0, 2, 2, 2, 2, 2, 0, 0, 2, 0,
       1, 2, 2, 0, 2, 0, 2, 0, 2, 1, 2, 0, 2, 2, 0, 0, 0, 2, 0, 0, 2, 2,
       2, 1, 2, 0, 0, 0, 2, 0, 0, 0, 2, 2, 0, 2, 2, 0, 0, 0, 2, 2, 2, 2,
       0])

In [32]:
from sklearn.metrics import accuracy_score
sc5=accuracy_score(y_test, y_pred3) 
sc5

0.8716981132075472

In [33]:
from sklearn.metrics import mean_squared_error
mse5 = mean_squared_error(y_test,y_pred2)
mse5

0.41132075471698115

# Naive bayes-Bernoulli

In [34]:
from sklearn.naive_bayes import BernoulliNB
model = BernoulliNB()
model.fit(x_train,y_train)
y_pred4 = model.predict(x_test)
y_pred4

array([0, 0, 2, 0, 0, 2, 2, 0, 2, 0, 2, 0, 2, 0, 0, 0, 0, 0, 2, 2, 2, 0,
       2, 2, 0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 2, 0, 0,
       0, 0, 2, 0, 2, 0, 0, 2, 2, 2, 0, 2, 0, 0, 0, 2, 0, 0, 2, 0, 2, 0,
       0, 2, 2, 0, 2, 2, 0, 0, 2, 2, 0, 2, 2, 0, 0, 2, 2, 0, 2, 0, 0, 2,
       2, 0, 0, 2, 2, 2, 0, 2, 0, 0, 2, 0, 0, 0, 0, 2, 0, 2, 0, 0, 2, 2,
       0, 2, 2, 0, 0, 2, 0, 0, 2, 0, 2, 2, 0, 0, 0, 0, 2, 0, 2, 2, 0, 2,
       0, 0, 0, 0, 0, 0, 2, 0, 2, 0, 0, 2, 2, 0, 0, 2, 0, 0, 2, 2, 2, 2,
       0, 2, 0, 2, 0, 0, 0, 2, 2, 2, 0, 2, 2, 0, 0, 0, 2, 2, 2, 0, 0, 0,
       0, 2, 0, 0, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 0,
       2, 0, 0, 2, 0, 2, 2, 2, 0, 2, 2, 0, 0, 2, 2, 2, 2, 2, 0, 0, 2, 0,
       0, 2, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 2, 0, 0, 0, 2, 0, 0, 2, 2,
       2, 0, 2, 0, 0, 0, 2, 0, 0, 0, 2, 2, 0, 2, 2, 0, 0, 0, 2, 2, 2, 2,
       0])

In [35]:
from sklearn.metrics import accuracy_score
sc6=accuracy_score(y_test, y_pred4) 
sc6

0.7584905660377359

In [36]:
from sklearn.metrics import mean_squared_error
mse6 = mean_squared_error(y_test,y_pred4)
mse6

0.4

# RandomForest

In [37]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=20, criterion='gini',max_depth=5,max_features=3)
rfc.fit(x_train,y_train)
y_pred5 = rfc.predict(x_test)
y_pred5

array([1, 0, 2, 0, 0, 2, 2, 0, 2, 0, 2, 0, 2, 0, 0, 0, 0, 2, 2, 2, 2, 0,
       2, 2, 1, 0, 0, 2, 2, 0, 1, 0, 1, 0, 2, 2, 0, 0, 2, 0, 0, 2, 2, 0,
       1, 0, 2, 0, 2, 0, 0, 2, 2, 2, 0, 2, 1, 0, 1, 2, 0, 0, 2, 0, 2, 1,
       1, 2, 2, 1, 2, 2, 0, 1, 2, 2, 0, 2, 2, 0, 0, 2, 2, 0, 2, 0, 0, 2,
       2, 1, 0, 2, 2, 2, 1, 2, 0, 0, 2, 1, 0, 1, 1, 2, 0, 2, 0, 0, 2, 2,
       1, 2, 2, 1, 0, 2, 0, 0, 2, 1, 2, 2, 1, 1, 1, 0, 2, 0, 2, 2, 1, 2,
       0, 0, 0, 0, 0, 1, 2, 0, 2, 1, 1, 2, 2, 1, 1, 2, 1, 1, 2, 2, 2, 2,
       0, 2, 0, 2, 1, 0, 0, 2, 2, 2, 1, 2, 2, 0, 1, 0, 0, 2, 2, 0, 0, 0,
       1, 2, 1, 0, 1, 2, 0, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, 1, 2, 1,
       2, 0, 0, 2, 0, 2, 2, 2, 1, 2, 2, 0, 1, 2, 2, 2, 2, 2, 2, 0, 2, 1,
       1, 2, 2, 0, 2, 0, 2, 0, 2, 1, 2, 0, 2, 2, 0, 0, 0, 2, 0, 0, 2, 2,
       2, 1, 2, 0, 0, 0, 2, 0, 0, 0, 2, 2, 0, 2, 2, 0, 1, 1, 2, 2, 2, 2,
       0])

In [38]:
from sklearn.metrics import accuracy_score
sc7=accuracy_score(y_test, y_pred5) 
sc7

0.8905660377358491

In [39]:
from sklearn.metrics import mean_squared_error
mse7 = mean_squared_error(y_test,y_pred5)
mse7

0.24528301886792453

# xgboost

In [40]:
pip install xgboost

Requirement already satisfied: xgboost in e:\jupiter\lib\site-packages (1.5.1)
Requirement already satisfied: numpy in e:\jupiter\lib\site-packages (from xgboost) (1.20.1)
Requirement already satisfied: scipy in e:\jupiter\lib\site-packages (from xgboost) (1.6.2)
Note: you may need to restart the kernel to use updated packages.

In [41]:
from xgboost import XGBClassifier
model1 = XGBClassifier()
model1.fit(x_train,y_train)
y_pred6 = model1.predict(x_test)
y_pred6

E:\jupiter\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[11:45:39] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

array([1, 0, 2, 0, 0, 2, 2, 0, 2, 0, 2, 0, 2, 0, 0, 0, 0, 0, 2, 2, 2, 0,
       2, 2, 1, 0, 0, 2, 2, 0, 1, 0, 1, 0, 2, 2, 0, 0, 2, 0, 0, 2, 2, 0,
       1, 0, 2, 0, 2, 0, 0, 2, 2, 2, 0, 2, 0, 0, 1, 2, 0, 0, 2, 0, 2, 1,
       1, 2, 2, 1, 2, 2, 0, 1, 2, 2, 0, 2, 2, 0, 0, 2, 2, 0, 2, 0, 0, 2,
       2, 1, 0, 2, 2, 2, 1, 2, 0, 0, 2, 1, 0, 0, 1, 2, 0, 2, 0, 0, 2, 2,
       0, 2, 2, 1, 0, 2, 0, 0, 2, 0, 2, 2, 1, 1, 1, 0, 2, 0, 2, 2, 1, 2,
       0, 0, 0, 0, 2, 1, 2, 0, 2, 1, 0, 2, 2, 1, 1, 2, 1, 1, 2, 2, 2, 2,
       0, 2, 0, 2, 1, 0, 0, 2, 2, 2, 1, 2, 2, 0, 0, 0, 0, 2, 2, 0, 0, 0,
       1, 2, 1, 0, 1, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, 1, 2, 1,
       2, 0, 0, 2, 0, 2, 2, 2, 1, 2, 2, 0, 1, 2, 2, 2, 2, 2, 2, 0, 2, 1,
       1, 2, 2, 0, 2, 0, 2, 2, 2, 1, 2, 0, 2, 2, 0, 0, 0, 2, 0, 0, 2, 2,
       2, 0, 2, 0, 0, 0, 2, 0, 0, 0, 2, 2, 0, 2, 2, 0, 0, 0, 2, 2, 2, 2,
       0])

In [42]:
from sklearn.metrics import accuracy_score
sc8=accuracy_score(y_test, y_pred6) 
sc8

0.8566037735849057

In [43]:
from sklearn.metrics import mean_squared_error
mse8 = mean_squared_error(y_test,y_pred6)
mse8

0.3132075471698113